<div class='itemsOrder'>

  <div class="w3-card-4">
    <div class="w3-container w3-pale-green w3-text-black w3-center">
      <h2>New Order</h2>
    </div>

    <br>
     
    <div class="w3-container w3-text-grey">
      <%= form_for(order) do |f| %>
      <% if order.errors.any? %>

      <div id="error_explanation">
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
        <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
      <% end %>

      <div class="field">
        <%= f.label :order_date %>
        <%= f.datetime_select :order_date %>
      </div>
    
      <div class="field">
        <%= f.label :user_id %>
        <%= f.text_field :user_id %>
      </div>
    
      <div class="field">
        <%= f.label :status %>
        <%= f.text_field :status %>
      </div>
    
      <div class="actions">
        <%= f.submit %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<br>
